<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile-trace" xsi:type="File" fileName="obstool-trace-${date:format=yyyy-MM}.log" />
    <target name="logfile-records-backup" xsi:type="File" fileName="obstool-records-backup-${date:format=yyyy-MM}.log" />
    <target name="logfile" xsi:type="File" fileName="obstool-${date:format=yyyy-MM}.log" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Info" writeTo="logfile-trace" />
    <logger name="ObsTool.*" minlevel="Info" writeTo="logfile-records-backup" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
